* {
background-color: rgb(33, 30, 30);
}

body {
    color: aliceblue;
    
}

.one {
    font-family: 'Kablammo', 'Rubik Moonrocks', sans-serif;
    font-size: 34px;
    border-radius: 30px;
    padding-left: 50px;
    display: flex;
    padding-top: 40px ;
    
    

}

.one1 a{
    justify-content:space-evenly;
    font-size: 18px;
    color: greenyellow;
    text-emphasis: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    width: 200px;
    padding-left: 10px;
    background-color: rgb(29, 28, 28);
    padding-right: 100px ;
}

.logo {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(29, 28, 28);
}

.one2 h2 {
    color: aliceblue;
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.one2 img {
    padding-block: 30px;
    padding-left: 250px;
    /* display: block; */
    /* display: flex; */
}

.one3 img {
    border-radius: 30px;
}

.one3 a {
    color:rgb(153, 234, 130);
    font-size: 40px;
    padding-left: 200px;
}

.one4 img {
    border-radius: 30px;
}

.one4 a {
    color:rgb(153, 234, 130);
    font-size: 40px;
    padding-left: 200px;
}

table {
    font-size: 30px;
    border:solid 2px;
    background-color: rgb(246, 255, 0);
}

.line th {
    background-color: green;
    font-size: 30px;
    border:solid 2px;
}
tr td {
    border: solid 1px;
    background-color: rgba(226, 226, 60, 0.466);
    font-size: 30px; 
}

.end input {
        text-align: end;
        width: 200px;
        margin-top: 10px;
        margin-left: 1400px;
        padding: 15px ;
        color:rgb(0, 0, 0) ;
        background-color: aliceblue;
    }
        

.end1 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    backdrop-filter: blur(10px);
}

.end h3 {
    margin-left: 1400px;   
}


    
